includes:
    - phpstan-baseline.neon

parameters:
    level: 9
    paths:
        - src
        - tests/FunctionTest.php
        - tests/Enums
    scanFiles:
        - vendor/pestphp/pest/src/Functions.php
    tmpDir: build/phpstan
    reportUnmatchedIgnoredErrors: true
    ignoreErrors:
        -
            identifier: argument.templateType
            paths: tests/**
        -
            identifier: missingType.generics
            paths: tests/**
