includes:
    - phpstan-baseline.neon

parameters:
    level: 9
    paths:
        - src
        - tests/FunctionTest.php
    scanFiles:
        - vendor/pestphp/pest/src/Functions.php
    tmpDir: build/phpstan
    ignoreErrors:
        - identifier: argument.templateType
        - identifier: missingType.iterableValue
        -
            identifier: trait.unused
            path: src/EnumConcern.php
            count: 1
