includes:
    - phpstan-baseline.neon

parameters:
    level: 9
    paths:
        - src
        - tests/Enums
    tmpDir: build/phpstan
    reportUnmatchedIgnoredErrors: true
    ignoreErrors:
        -
            identifier: argument.templateType
            path: tests/**
        -
            identifier: missingType.generics
            path: tests/**
